apiVersion: apps/v1
kind: Deployment
metadata:
  name: openfga-deployment
spec:
  selector:
    matchLabels:
      app: openfga
  replicas: 1
  template:
    metadata:
      labels:
        app: openfga
    spec:
      containers:
        - name: openfga-container
          image: openfga/openfga:v1
          args: ["run"]
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
